---
{%- raw %}
- name: Include Gitlab Webhook Trigger Playbook from a collection AutomationIberia CasC_Setup
  ansible.builtin.import_playbook: automationiberia.casc_setup.cd_gitlab_webhook_trigger.yml
{% endraw %}
...
