---
{%- raw %}
- name: Include  Config Controller Playbook from collection AutomationIberia CasC_Setup
  ansible.builtin.import_playbook: automationiberia.casc_setup.config_controller.yml
{% endraw %}
...
