---
vault_controller_username: 'ToDo'
vault_controller_password: 'ToDo'
vault_controller_hostname: {% raw %}"{{ groups['{% endraw %}{{ __template_groupvars_env }}{% raw %}'][0] }}"
{% endraw %}
vault_controller_validate_certs: true
...
