---
vault_controller_username: "<CHANGE_ME>"
vault_controller_password: "<CHANGE_ME>"
vault_controller_hostname: {% raw %}"{{ groups['{% endraw %}{{ __template_groupvars_env }}{% raw %}'][0] }}"
{% endraw %}
vault_controller_validate_certs: true
...
