---
controller_organizations:
  - name: "{{ gitlab_project }}"
    description: "Organization {{ gitlab_project }}"
{#
{%- raw %}
    galaxy_credentials:
      - "{{ orgs }} {{ env }} Automation Hub Community Repository"
      - "{{ orgs }} {{ env }} Automation Hub Published Repository"
      - "{{ orgs }} {{ env }} Automation Hub RH Certified Repository"
{% endraw %}
#}
...
