---
controller_projects:
{%- raw %}
  - name: "{{ orgs }} CasC_Data"
    description: "Project to include the vars values of the {{ orgs }} Org"
    organization: "{{ orgs }}"
    scm_type: git
{% endraw %}
{% if gitlab_api_url is defined %}
    scm_url: "{{ gitlab_project_creation.project.ssh_url_to_repo }}"
{% elif github_api_url is defined %}
    scm_url: "{{ github_repo_creation.repo.ssh_url }}"
{% endif %}
{%- raw %}
    scm_branch: "{{ casc_git_scm_branch | default(env) }}"
    scm_credential: "{{ orgs }} {{ env }} Git Credential"
    scm_clean: false
    scm_delete_on_update: false
    scm_update_on_launch: false
    scm_update_cache_timeout: 86400
    allow_override: true
{% endraw %}
...
