---
controller_credentials:
{%- raw %}
  - name: "{{ orgs }} {{ env }} AAP Credentials"
    description: "{ orgs }} {{ env }} Ansible Automation Platform Credentials"
    credential_type: "Red Hat Ansible Automation Platform"
    organization: "{{ orgs }}"
    inputs:
      host: "controller.lab.example.com"
      username: "controller-user"
      password: "controller-password"
      verify_ssl: false

  - name: "{{ orgs }} {{ env }} Vault Credentials"
    description: "{{ orgs }} {{ env }} Vault Credentials"
    credential_type: "Vault"
    organization: "{{ orgs }}"
    inputs:
      vault_password: "password"

  - name: "{{ orgs }} {{ env }} Gitlab Credential"
    description: "{{ orgs }} {{ env }} Gitlab Credential"
    credential_type: "Source Control"
    organization: "{{ orgs }}"
    inputs:
      username: 'aap-demo'
      ssh_key_data: |
        -----BEGIN OPENSSH PRIVATE KEY-----
        e+hmzrLh33NWOQy98knTvNZaXM+1xy6qHLTDqUA8BlueNKfMKcz39IfONO/6ZVxiDYLWxb
        9bl01ssxyNM+0AAAAnYW5zaWJsZUBkZW1vLWN0cjEtZGV2LmJjbmNvbnN1bHRpbmcuY29t
        AQIDBA==
        -----END OPENSSH PRIVATE KEY-----

  - name: "{{ orgs }} {{ env }} Machine Credentials"
    description: "{{ orgs }} {{ env }} Machine Credentials"
    credential_type: "Machine"
    organization: "{{ orgs }}"
    inputs:
      username: "ansible"
      password: "password"
{% endraw %}
...
