collections/*
roles
ansible.cfg
.*.swp
.vault_password
.vault_pass.txt
config-controller-filetree-artifact*
ansible-navigator.log
configs
controller_settings_ldap1.yml
play_desired_state
roles_old
ansible.cfg.ori
